* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overallWrap {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
}

.topMostHeader {
  width: 100%;
  height: 100px;
  /* border: 2px solid firebrick; */
  background: #e6f5fc;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  /* background: #444; */
}

.logo {
  width: 80px;
  height: 80%;
  /* border: 2px solid hotpink; */
  margin-left: 70px;
  margin-top: 10px;
  display: flex;
}

.logo img {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.topNav {
  width: 70%;
  height: 100%;
  /* border: 2px dashed brown; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.topNav a {
  text-decoration: none;
  padding: 10px 17px;
  /* border: 1px solid blue; */
  margin: 0 7px;
  text-transform: capitalize;
  color: #111;
  font-weight: 500;
  transition: 0.05s ease;
}

.cta {
  /* border: 2px dashed green; */
  margin-left: 120px;
}

.cta #getStarted {
  background: #009fe1;
  color: #ffffff;
  border-radius: 5px;
}

#login:hover {
  background: #009fe1;
  color: #ffffff;
  border-radius: 5px;
}

#getStarted:hover {
  background: #00435f;
}

.topNav a:hover {
  color: #0071a0;
  border-bottom: 2px solid #0071a0;
  border-radius: 10%;
}

.section1 {
  position: relative;
  top: 100px;
  /* border: 5px solid fuchsia; */
  width: 100%;
  height: 1200px;
  background-size: cover;
  /* padding: 0 70px; */
}

.modal-cta {
  width: 500px;
  height: 550px;
  background: #00435fd3;
  position: fixed;
  right: 70px;
  top: 105px;
  box-shadow: 2px 2px 14px rgb(50, 48, 48);
  padding: 20px;
  display: none;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  animation-name: animeUp;
  animation-duration: 1s;
}

@keyframes animeUp {
  from {
    right: -200px;
    opacity: 0;
  }
  to {
    right: 70px;
    opacity: 1;
  }
}

.modal-cta #regForm {
  width: 100%;
  height: 100%;
  border: 1px solid #b0e1f69b;
  padding: 0 20px;
}

#regForm h2 {
  font-weight: 500;
  text-align: start;
  padding: 15px 0;
  color: #fff;
  font-size: 1.7em;
}

.formInput {
  width: 100%;
  height: 40px;
  /* border: 2px dashed teal; */
  display: flex;
  align-items: center;
  margin: 3px 0;
}

.formInput input {
  width: 70%;
  /* margin-left: 10px; */
  padding: 7px;
  border-radius: 4px;
  border: none;
  transition: 0.4s ease;
  font-size: 0.9em;
}

.formInput input::placeholder {
  color: #444;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
}

.formInput input:focus {
  width: 90%;
}

.formInput select {
  padding: 5px;
  /* margin-left: 10px; */
  border-radius: 4px;
  border: none;
  color: #444;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
}

.formInput option {
  color: #444;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
}

#regForm .submitField {
  width: 100%;
  height: 45px;
  /* border: 1px solid rgb(176, 166, 166); */
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  /* padding-left: 8px; */
}

.submitField input {
  width: 60%;
  padding: 7px;
  font-weight: 500;
  font-size: 0.9em;
  color: #fff;
  background: #111;
  border: none;
  transition: 0.4s ease;
}

.submitField input:hover {
  width: 70%;
  cursor: pointer;
  border: 1px solid #b0e1f6;
  box-shadow: 5px 5px 15px #2b2b2b;
}

#regForm .eyeToggle,
.eyeToggle2 {
  margin-left: -35px;
  position: relative;
  cursor: pointer;
}

#eyeClosed,
#eyeClosedkonfirm {
  display: none;
}

.loginModal {
  width: 400px;
  height: 350px;
  background: #00435fd3;
  position: fixed;
  right: 70px;
  top: 105px;
  box-shadow: 2px 2px 14px rgb(50, 48, 48);
  padding: 20px;
  display: none;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  animation-name: loginAnime;
  animation-duration: 1s;
}

@keyframes loginAnime {
  from {
    right: -200px;
    opacity: 0;
  }
  to {
    right: 70px;
    opacity: 1;
  }
}

.loginModal h2 {
  padding: 10px 0;
  text-align: start;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.loginModal form {
  border: 1px solid #b0e1f6;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.logform-Input {
  width: 100%;
  height: 40px;
  /* border: 2px dashed teal; */
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.logform-Input input {
  width: 70%;
  /* margin-left: 10px; */
  padding: 7px;
  border-radius: 4px;
  border: none;
  transition: 0.4s ease;
  font-size: 0.9em;
  position: relative;
}

.logform-Input input::placeholder {
  color: #444;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
}

.logform-Input input:focus {
  width: 90%;
}

.loginToggle {
  margin-left: -35px;
  position: relative;
  cursor: pointer;
}

#eyeClosedLogin {
  display: none;
}

.submitLogin {
  width: 100%;
  height: 45px;
  /* border: 1px solid rgb(176, 166, 166); */
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  /* padding-left: 8px; */
}

.submitLogin input {
  width: 60%;
  padding: 7px;
  font-weight: 500;
  font-size: 0.9em;
  color: #fff;
  background: #111;
  border: none;
  transition: 0.4s ease;
}

.submitLogin input:hover {
  width: 70%;
  cursor: pointer;
  border: 1px solid #b0e1f6;
  box-shadow: 5px 5px 15px #2b2b2b;
}

/* MAIN CONTACT SECTION */
.contactHeader {
  width: 100%;
  height: 300px;
  background: #00435f;
  padding: 70px;
}

.contactHeader h2 {
  color: #fff;
  font-size: 2.8em;
  /* padding: 0 70px; */
}

.contactHeader p {
  color: #eee;
  font-size: 1em;
  padding: 10px 400px 0 0;
}

/*  CONTACT WRAP*/
.contactWrap {
  width: 100%;
  height: 700px;
  /* border: 2px solid red; */
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.contactWrap .contactForm {
  width: 50%;
  height: 100%;
  padding: 25px 40px;
  background: #00435ff7;
}

.contactForm h4 {
  padding: 20px 0;
  color: #ddd;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 500;
}

.contactWrap .formInput {
  margin: 10px 0;
}

.contactWrap label {
  color: #f6fcff;
  font-weight: 500;
  font-size: 0.9em;
}

.contactWrap select {
  width: 47.2%;
  color: #111;
}
.contactWrap #formTextArea {
  width: 70%;
  padding: 5px;
}

.contactWrap .submitForm {
  margin: 10px 0;
}

.submitForm #formSubmit {
  padding: 15px 40px;
  font-size: 1em;
  font-weight: 510;
  color: #00435f;
  transition: all 0.3s ease;
}

.submitForm #formSubmit:hover {
  background: #009fe1;
  color: #fff;
  cursor: pointer;
  border: 2px groove #fff;
}

/* CONTACT ADDRESS  */
.contactWrap .contactAddress {
  background: #0071a0;
  width: 50%;
  height: 100%;
  padding: 40px;
}

.contactAddress h4 {
  color: #b0e1f6;
  font-size: 1.7em;
  font-weight: 500;
}

.contactAddress > p {
  font-size: 0.9em;
  color: #aaa;
  padding-bottom: 70px;
}

.contactInfo {
  border-left: 5px solid #b0e1f6;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  height: 100px;
}

.contactInfo .contactIcon {
  width: 80px;
  height: 100%;
  /* border: 2px solid red; */
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo .conText {
  /* border: 2px solid #fff; */
  padding: 5px;
  height: 100%;
}

.conText p:nth-child(1) {
  font-weight: 500;
  color: #fff;
  font-size: 1.3em;
}

.conText p:nth-child(2) {
  /* font-weight: 500; */
  color: rgb(205, 198, 198);
  font-size: 1em;
}

.conText p:nth-child(3) {
  /* font-weight: 500; */
  color: rgb(205, 198, 198);
  font-size: 1em;
}

.conText a {
  text-decoration: none;
  color: rgb(35, 12, 138);
  font-weight: 500;
}

.conText a:hover {
  color: rgb(205, 198, 198);
  text-decoration: underline;
}

/* FOOTER */
footer {
  width: 100%;
  height: 500px;
  padding: 0 70px;
  background: #b0e1f6;
  margin-top: 100px;
  /* position: relative; */
  /* bottom: 0; */
}

.topFoot {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  /* border: 2px solid goldenrod; */
}

.desc {
  width: 30%;
  height: 100%;
  /* border: 2px dashed rebeccapurple; */
  padding-top: 35px;
  margin-right: 15px;
}

.footLogo {
  width: 80px;
  height: 80px;
  /* border: 2px solid red; */
  display: flex;
}

.footLogo img {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.siteName {
  margin-top: 50px;
  font-size: 1.2em;
  font-weight: 500;
  font-variant: small-caps;
}

.desc p {
  font-size: 0.9em;
  font-weight: 500;
  margin: 15px 0;
  text-align: justify;
}

.socialIcons {
  width: 100%;
  height: 50px;
  /* border: 2px dashed firebrick; */
}

.socialIcons a {
  text-decoration: none;
  font-size: 1.5em;
  color: #111;
  transition: 0.2s linear;
}

.socialIcons a:hover {
  color: #0071a0;
  text-shadow: 2px 2px 15px -3px #111;
}
.fab {
  padding-right: 7px;
}

.FooterLinkz {
  width: 70%;
  height: 100%;
  /* border: 2px dashed red; */
  display: flex;
  flex-direction: row;
}

.footLink {
  width: 30%;
  height: 100%;
  /* border: 2px solid #111; */
  margin: 0 15px;
  text-align: center;
  padding-top: 35px;
}

.footLink h4 {
  padding-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
}

.footLink a {
  display: block;
  text-decoration: none;
  color: #111;
  line-height: 2;
  font-size: 0.9em;
  padding: 5px;
  text-transform: capitalize;
}

.footLink a:hover {
  font-weight: 500;
  color: #00435f;
  background: rgba(255, 255, 255, 0.281);
}

.fullWidth {
  text-align: center;
  font-size: 0.9em;
  padding-top: 20px;
  border-top: 2px solid #00435f;
}
